# 2) Tipos de datos y variables

## ¿Qué son?
Los **tipos** definen la clase de datos (entero, flotante, texto, booleano). Las **variables** son nombres que apuntan a valores en memoria.

## ¿Para qué se usan?
Para **representar y transformar información**. Python es *tipado dinámico*: el tipo se asocia al valor, no al nombre.

## Tipos básicos
- `int`, `float`, `str`, `bool`
- Mutabilidad: `str` es inmutable, `list` es mutable.
- Conversión de tipos: `int("42")`, `float("3.14")`, `str(99)`.

In [4]:
edad = 28
altura = 1.72
nombre = "Ada"
es_estudiante = True

print(type(edad), type(altura), type(nombre), type(es_estudiante))
print(f"{nombre} mide {altura} m y tiene {edad} años. ¿Estudia? {es_estudiante}")

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>
Ada mide 1.72 m y tiene 28 años. ¿Estudia? True

### Ejercicios
- E1: Declara tres variables de distintos tipos y muéstralas con su tipo.
- E2: Convierte `"99"` a entero y súmalo con 1.
- E3: Pide por `input()` nombre y edad, y muestra un mensaje formateado.

### Reto extra
Calcula el **IMC**: pide peso (kg) y altura (m), imprime el resultado con dos decimales.

In [ ]:
nombre = "Andres"
edad = 17
ciudad = "Bogota"
print(type(nombre), type(edad), type(ciudad))
print(f"{nombre} tiene {edad} años y vive en {ciudad}.")

<class 'str'> <class 'int'> <class 'str'>
Andres tiene 28 años y vive en Bogota.

In [7]:
numero = "99"
numero_entero = int(numero)
resultado= numero_entero + 1
print(resultado)

100

In [2]:
nombre = input("¿Cual es tu nombre? ")
edad = input("¿Cual es tu edad? ")
print(f"Hola {nombre}, tienes {edad} años.")

Hola andres, tienes 18 años.

In [1]:
peso = 64
altura = 1.80
imc = peso / (altura ** 2)
print(f"tu imc es de: {imc:.2f}")

tu imc es de: 19.75

In [ ]:
# Plantilla para IMC
peso = 70.0
altura = 1.75
imc = peso / (altura ** 2)
print(f"IMC: {imc:.2f}")